body
{
    background:Transparent;
/*    overflow:hidden;*/
    
}
video, #output {
    background: transparent;
    transform: scaleX(-1);
}
#cover{
/*    background:rgba(0, 38, 255,0.3);*/
}
#output{
/*    background:green;*/
}
#canvascont {
    aspect-ratio: 1 / 1;
    width: 500px;
    position: absolute;
    display: flex;
    left: 0;
    left: 36%;
    top: 105px;
    /*    background: blue;*/
    justify-content: center;
    align-content: center;
}
canvas{
    margin:auto;
    
    position:absolute;
    left:0;
    
}


#dragger {
    width: 200px;
    height: 60px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    background: red;
    opacity:.2;
    z-index:1000;
}
#canvascont {
/*    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    background: purple;
    opacity: .2;*/
}
#settings {
    position: absolute;
    right: 0;
    top: 0;
    right:20px;
    margin: auto;
    z-index:1000;
    border-radius:30px;
    z-index:10000;
}
